/* .inputTxtError {
    border-left: 5px solid #bb1c2c;
    color: #bb1c2c;
 }

 .inputTxtValid {
    border-left: 5px solid #20aa4e;
    color: #20aa4e;
 }
*/
 #radioFemme {
    margin-left: 20px;
 }
 
.wrapper {
    width:150px;
    height:150px;
    margin: 25px auto;
    overflow: hidden;
    border-radius:50%;
    position: relative;
  }
  
.wrapper img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    max-height: 100%;
    max-width: 100%;
    transform: translate(-50%, -50%);
}